@font-face {
  font-family: 'icomoon';
  src:  url('https://i.icomoon.io/public/17b520daba/findor/icomoon.eot?hdrajz');
  src:  url('https://i.icomoon.io/public/17b520daba/findor/icomoon.eot?hdrajz#iefix') format('embedded-opentype'),
    url('https://i.icomoon.io/public/17b520daba/findor/icomoon.woff2?hdrajz') format('woff2'),
    url('https://i.icomoon.io/public/17b520daba/findor/icomoon.ttf?hdrajz') format('truetype'),
    url('https://i.icomoon.io/public/17b520daba/findor/icomoon.woff?hdrajz') format('woff'),
    url('https://i.icomoon.io/public/17b520daba/findor/icomoon.svg?hdrajz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="findor-icon-"], [class*=" findor-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.findor-icon-Help:before {
  content: "\e9c9";
}
.findor-icon-print:before {
  content: "\e9c4";
}
.findor-icon-Card2:before {
  content: "\e9c2";
}
.findor-icon-email:before {
  content: "\e9c3";
}
.findor-icon-Card:before {
  content: "\e9c5";
}
.findor-icon-Ribbon:before {
  content: "\e9ab";
}
.findor-icon-Instagram-2:before {
  content: "\e9ac";
}
.findor-icon-Twitter:before {
  content: "\e9ad";
}
.findor-icon-Down:before {
  content: "\e9ae";
}
.findor-icon-Info:before {
  content: "\e9af";
}
.findor-icon-Timer:before {
  content: "\e9b0";
}
.findor-icon-Lock:before {
  content: "\e9b1";
}
.findor-icon-TripAdvisor-2 .path1:before {
  content: "\e9b2";
  color: rgb(255, 224, 130);
}
.findor-icon-TripAdvisor-2 .path2:before {
  content: "\e9b3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.findor-icon-TripAdvisor-2 .path3:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(244, 67, 54);
}
.findor-icon-TripAdvisor-2 .path4:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(0, 200, 83);
}
.findor-icon-TripAdvisor-2 .path5:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor-2 .path6:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor-2 .path7:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor-2 .path8:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor-2 .path9:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor-2 .path10:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor-2 .path11:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor-2 .path12:before {
  content: "\e9bd";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor-2 .path13:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(55, 71, 79);
}
.findor-icon-TripAdvisor:before {
  content: "\e9bf";
}
.findor-icon-Shuttle:before {
  content: "\e9c0";
}
.findor-icon-Up:before {
  content: "\e9c1";
}
.findor-icon-Left-line:before {
  content: "\e9a9";
}
.findor-icon-Right-line:before {
  content: "\e9aa";
}
.findor-icon-no-parking:before {
  content: "\e9a6";
}
.findor-icon-floor:before {
  content: "\e9a8";
}
.findor-icon-eventbrite:before {
  content: "\e985";
}
.findor-icon-family:before {
  content: "\e989";
}
.findor-icon-valet:before {
  content: "\e9a3";
}
.findor-icon-+:before {
  content: "\e9c6";
}
.findor-icon-+2:before {
  content: "\e9c7";
}
.findor-icon-+3:before {
  content: "\e9c8";
}
.findor-icon-arrows:before {
  content: "\e9a5";
}
.findor-icon-menu:before {
  content: "\e984";
}
.findor-icon-over:before {
  content: "\e952";
}
.findor-icon-alarm-clock:before {
  content: "\e953";
}
.findor-icon-heart:before {
  content: "\e954";
}
.findor-icon-chat-bubble:before {
  content: "\e955";
}
.findor-icon-document-file:before {
  content: "\e956";
}
.findor-icon-refrigerator:before {
  content: "\e95e";
}
.findor-icon-arrow-down:before {
  content: "\e960";
}
.findor-icon-arrow-right:before {
  content: "\e96c";
}
.findor-icon-currency:before {
  content: "\e96d";
}
.findor-icon-globe:before {
  content: "\e975";
}
.findor-icon-microphone:before {
  content: "\e950";
}
.findor-icon-money:before {
  content: "\e962";
}
.findor-icon-kitchenette:before {
  content: "\e965";
}
.findor-icon-coffeemaker:before {
  content: "\e969";
}
.findor-icon-phone:before {
  content: "\e95f";
}
.findor-icon-arrow-light:before {
  content: "\e961";
}
.findor-icon-search:before {
  content: "\e963";
}
.findor-icon-check:before {
  content: "\e964";
}
.findor-icon-ticket2:before {
  content: "\e966";
}
.findor-icon-user:before {
  content: "\e967";
}
.findor-icon-walk:before {
  content: "\e968";
}
.findor-icon-Car2:before {
  content: "\e96a";
}
.findor-icon-trophy:before {
  content: "\e96b";
}
.findor-icon-weights:before {
  content: "\e96e";
}
.findor-icon-bike2:before {
  content: "\e96f";
}
.findor-icon-cardio2:before {
  content: "\e970";
}
.findor-icon-tennis2:before {
  content: "\e971";
}
.findor-icon-golf2:before {
  content: "\e972";
}
.findor-icon-weights2:before {
  content: "\e973";
}
.findor-icon-pingpong2:before {
  content: "\e974";
}
.findor-icon-air-conditioner:before {
  content: "\e976";
}
.findor-icon-hairdryer:before {
  content: "\e977";
}
.findor-icon-safe:before {
  content: "\e978";
}
.findor-icon-iron:before {
  content: "\e979";
}
.findor-icon-no-camera:before {
  content: "\e97a";
}
.findor-icon-calendar:before {
  content: "\e97b";
}
.findor-icon-currencyexchange:before {
  content: "\e97c";
}
.findor-icon-pets:before {
  content: "\e97d";
}
.findor-icon-no-smoking2:before {
  content: "\e97e";
}
.findor-icon-cal:before {
  content: "\e97f";
}
.findor-icon-wifi2:before {
  content: "\e980";
}
.findor-icon-swim:before {
  content: "\e981";
}
.findor-icon-smoking:before {
  content: "\e982";
}
.findor-icon-clock:before {
  content: "\e983";
}
.findor-icon-computer2:before {
  content: "\e986";
}
.findor-icon-buisness-center:before {
  content: "\e987";
}
.findor-icon-flatscreen2:before {
  content: "\e988";
}
.findor-icon-beach3:before {
  content: "\e98a";
}
.findor-icon-pool2:before {
  content: "\e98b";
}
.findor-icon-butler2:before {
  content: "\e98c";
}
.findor-icon-food2:before {
  content: "\e98d";
}
.findor-icon-bike3:before {
  content: "\e98e";
}
.findor-icon-ipod2:before {
  content: "\e98f";
}
.findor-icon-bike32:before {
  content: "\e990";
}
.findor-icon-car:before {
  content: "\e991";
}
.findor-icon-accessible2:before {
  content: "\e992";
}
.findor-icon-bicycle2:before {
  content: "\e993";
}
.findor-icon-dining2:before {
  content: "\e994";
}
.findor-icon-parking2:before {
  content: "\e995";
}
.findor-icon-Rooftop:before {
  content: "\e996";
}
.findor-icon-breakfest:before {
  content: "\e997";
}
.findor-icon-metro:before {
  content: "\e998";
}
.findor-icon-bed2:before {
  content: "\e999";
}
.findor-icon-room-service2:before {
  content: "\e99a";
}
.findor-icon-drink2:before {
  content: "\e99b";
}
.findor-icon-valet-parking2:before {
  content: "\e99c";
}
.findor-icon-bar2:before {
  content: "\e99d";
}
.findor-icon-metro-nearby2:before {
  content: "\e99e";
}
.findor-icon-train-nearby2:before {
  content: "\e99f";
}
.findor-icon-luggage:before {
  content: "\e9a0";
}
.findor-icon-beach-access2:before {
  content: "\e9a1";
}
.findor-icon-airport-nearby2:before {
  content: "\e9a2";
}
.findor-icon-Kitchen:before {
  content: "\e9a4";
}
.findor-icon-idea:before {
  content: "\e9a7";
}
.findor-icon-spa:before {
  content: "\e95d";
}
.findor-icon-hotel:before {
  content: "\e957";
}
.findor-icon-average-room-size:before {
  content: "\e958";
}
.findor-icon-hot-tub:before {
  content: "\e959";
}
.findor-icon-redeem-by-email:before {
  content: "\e95a";
}
.findor-icon-venue-nearby:before {
  content: "\e95b";
}
.findor-icon-no-pets:before {
  content: "\e95c";
}
.findor-icon-gym:before {
  content: "\e903";
}
.findor-icon-cardio:before {
  content: "\e902";
}
.findor-icon-tennis:before {
  content: "\e904";
}
.findor-icon-golf:before {
  content: "\e906";
}
.findor-icon-pingpong:before {
  content: "\e92a";
}
.findor-icon-no-smoking:before {
  content: "\e907";
}
.findor-icon-wifi:before {
  content: "\e908";
}
.findor-icon-smoking-allowed:before {
  content: "\e90a";
}
.findor-icon-computer:before {
  content: "\e90b";
}
.findor-icon-business-center:before {
  content: "\e90c";
}
.findor-icon-flatscreen:before {
  content: "\e90d";
}
.findor-icon-pool:before {
  content: "\e90f";
}
.findor-icon-butler:before {
  content: "\e910";
}
.findor-icon-food:before {
  content: "\e911";
}
.findor-icon-bike:before {
  content: "\e912";
}
.findor-icon-ipod:before {
  content: "\e913";
}
.findor-icon-accessible:before {
  content: "\e915";
}
.findor-icon-bicycle:before {
  content: "\e916";
}
.findor-icon-dining:before {
  content: "\e917";
}
.findor-icon-parking:before {
  content: "\e918";
}
.findor-icon-rooftop:before {
  content: "\e919";
}
.findor-icon-breakfast:before {
  content: "\e91a";
}
.findor-icon-bed:before {
  content: "\e91b";
}
.findor-icon-room-service:before {
  content: "\e91c";
}
.findor-icon-drink:before {
  content: "\e91d";
}
.findor-icon-valet-parking:before {
  content: "\e91e";
}
.findor-icon-bar:before {
  content: "\e91f";
}
.findor-icon-metro-nearby:before {
  content: "\e920";
}
.findor-icon-train-nearby:before {
  content: "\e921";
}
.findor-icon-beach-access:before {
  content: "\e922";
}
.findor-icon-airport-nearby:before {
  content: "\e923";
}
.findor-icon-payment-diners .path1:before {
  content: "\e94b";
  color: rgb(0, 121, 190);
}
.findor-icon-payment-diners .path2:before {
  content: "\e94c";
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-diners .path3:before {
  content: "\e94d";
  margin-left: -1.5927734375em;
  color: rgb(0, 121, 190);
}
.findor-icon-payment-diners .path4:before {
  content: "\e94e";
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-discover .path1:before {
  content: "\e92b";
  color: rgb(77, 77, 77);
}
.findor-icon-payment-discover .path2:before {
  content: "\e92c";
  margin-left: -1.556640625em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-discover .path3:before {
  content: "\e94f";
  margin-left: -1.556640625em;
  color: rgb(244, 114, 22);
}
.findor-icon-payment-jcb .path1:before {
  content: "\e92d";
  color: rgb(14, 76, 150);
}
.findor-icon-payment-jcb .path2:before {
  content: "\e92e";
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-jcb .path3:before {
  content: "\e92f";
  margin-left: -1.5927734375em;
  color: rgb(0, 0, 0);
}
.findor-icon-payment-jcb .path4:before {
  content: "\e930";
  margin-left: -1.5927734375em;
  color: rgb(0, 0, 0);
}
.findor-icon-payment-jcb .path5:before {
  content: "\e931";
  margin-left: -1.5927734375em;
  color: rgb(0, 0, 0);
}
.findor-icon-payment-maestro .path1:before {
  content: "\e932";
  color: rgb(0, 0, 0);
}
.findor-icon-payment-maestro .path2:before {
  content: "\e933";
  margin-left: -1.5927734375em;
  color: rgb(217, 34, 42);
}
.findor-icon-payment-maestro .path3:before {
  content: "\e934";
  margin-left: -1.5927734375em;
  color: rgb(0, 151, 208);
}
.findor-icon-payment-maestro .path4:before {
  content: "\e935";
  margin-left: -1.5927734375em;
  color: rgb(0, 0, 0);
}
.findor-icon-payment-maestro .path5:before {
  content: "\e936";
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-mastercard .path1:before {
  content: "\e937";
  color: rgb(0, 0, 0);
}
.findor-icon-payment-mastercard .path2:before {
  content: "\e938";
  margin-left: -1.5927734375em;
  color: rgb(217, 34, 42);
}
.findor-icon-payment-mastercard .path3:before {
  content: "\e939";
  margin-left: -1.5927734375em;
  color: rgb(238, 159, 45);
}
.findor-icon-payment-mastercard .path4:before {
  content: "\e93a";
  margin-left: -1.5927734375em;
  color: rgb(0, 0, 0);
}
.findor-icon-payment-mastercard .path5:before {
  content: "\e93b";
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-mastercard .path6:before {
  content: "\e93c";
  margin-left: -1.5927734375em;
  color: rgb(0, 0, 0);
}
.findor-icon-payment-mastercard .path7:before {
  content: "\e93d";
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-paypal .path1:before {
  content: "\e93e";
  color: rgb(255, 255, 255);
}
.findor-icon-payment-paypal .path2:before {
  content: "\e93f";
  margin-left: -1.556640625em;
  color: rgb(0, 48, 135);
}
.findor-icon-payment-paypal .path3:before {
  content: "\e940";
  margin-left: -1.556640625em;
  color: rgb(0, 156, 222);
}
.findor-icon-payment-paypal .path4:before {
  content: "\e941";
  margin-left: -1.556640625em;
  color: rgb(0, 48, 135);
}
.findor-icon-payment-paypal .path5:before {
  content: "\e942";
  margin-left: -1.556640625em;
  color: rgb(0, 156, 222);
}
.findor-icon-payment-paypal .path6:before {
  content: "\e943";
  margin-left: -1.556640625em;
  color: rgb(0, 48, 135);
}
.findor-icon-payment-paypal .path7:before {
  content: "\e944";
  margin-left: -1.556640625em;
  color: rgb(0, 156, 222);
}
.findor-icon-payment-visa .path1:before {
  content: "\e945";
  color: rgb(14, 69, 149);
}
.findor-icon-payment-visa .path2:before {
  content: "\e946";
  margin-left: -1.5927734375em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-visa .path3:before {
  content: "\e947";
  margin-left: -1.5927734375em;
  color: rgb(242, 174, 20);
}
.findor-icon-payment-amex .path1:before {
  content: "\e948";
  color: rgb(37, 87, 214);
}
.findor-icon-payment-amex .path2:before {
  content: "\e949";
  margin-left: -1.5966796875em;
  color: rgb(255, 255, 255);
}
.findor-icon-payment-amex .path3:before {
  content: "\e94a";
  margin-left: -1.5966796875em;
  color: rgb(255, 255, 255);
}
.findor-icon-chevron-right:before {
  content: "\e929";
}
.findor-icon-chevron-left:before {
  content: "\e928";
}
.findor-icon-success:before {
  content: "\e900";
}
.findor-icon-ticket:before {
  content: "\e951";
}
.findor-icon-cc-jcb:before {
  content: "\e927";
}
.findor-icon-cc-paypal:before {
  content: "\e926";
}
.findor-icon-cc-diners-club:before {
  content: "\e914";
}
.findor-icon-cc-amex:before {
  content: "\e924";
}
.findor-icon-cc-discover:before {
  content: "\e925";
}
.findor-icon-cc-mastercard:before {
  content: "\e90e";
}
.findor-icon-cc-visa:before {
  content: "\e909";
}
.findor-icon-star-solid:before {
  content: "\e901";
}
.findor-icon-star-outline:before {
  content: "\e905";
}

